
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.container {
   width: 1000px;
   margin: 0 auto;
   background: khaki;
   text-align: center;
}

.post {
   padding: 12px;
   border: 1px solid teal;
   margin-top: 6px;
   width: 100%;
   display: flex;
   /*justify-content: space-between;*/
   height: 10px;
   align-items: center;
   /*justify-content: center;*/
}

.post__list {
   /*width: 100%;*/
   padding: 20px;
   width: 50%;
}

.user {
   padding: 20px;
   border: 1px solid orange;
   margin-top: 15px;
   width: 100%;
   display: flex;
   justify-content: space-between;
}

.w100per {
   width: 100%;
}

.w50 {
   width: 50%;
}


.max-height20 {
   max-height: 20px;
   overflow: hidden;
}

.bg-green {
   background: lightgreen;
   padding: 15px;
}

button {
   padding: 2px;
   margin-left: 15px;
}

.display-inline-block {
   display: inline-block;
   padding-left: 15px;
}
